body { 
    font-family: Geneva, Tahoma, Verdana, sans-serif;}

article {background-color: #E6E6E6;}

header



nav {background-color: #D9853B;}

li


.nav-links:link {
    color: #FFF;}

        
.nav-links:visited {
    color: #0080FF; }

h1

h2

.reference-image

p